@font-face {
   font-family: "Belleza";
   src: url("fonts/Belleza Regular.woff") format("woff"), url("fonts/Belleza Regular.eot") format("embedded-opentype"), url("fonts/Belleza Regular.ttf") format("truetype"), url("fonts/Belleza Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}